<!DOCTYPE html>
<html>
  <head>
    <title>PaymentCalculator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <h3 class="header">Amortization Calculator</h3>
    </nav>
    <%= yield %>
  </body>
</html>
